* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0875e1;
}

.dashboard {
    display: grid;
    grid-template-columns: 240px 1fr;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    background: #1f2937;
    color: white;
    padding: 20px;
    border-right: 2px solid #60a5fa;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* subtle shadow */
    border-radius: 0 10px 10px 0;    
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul li {
    list-style: none;
    padding: 12px 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    color: #60a5fa;
}

/* Main Content */
.main-content {
    padding: 20px;
    border-right: 5px solid #e5e7eb;
    box-sizing: border-box;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.profile {
    background: #e5e7eb;
    padding: 10px;
    border-radius: 50%;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.card span {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

/* Table */
.table-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.success {
    color: green;
    font-weight: bold;
}

.pending {
    color: orange;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }
}
